NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_SERVER_ACTIONS_ENCRYPTION_KEY=
SUPABASE_SERVICE_ROLE_KEY=
TELEGRAM_ADMIN_CHAT_ID=
TELEGRAM_BOT_TOKEN=
TELEGRAM_customer_support_CHAT_ID=
TELEGRAM_LOGISTICS_CHAT_ID=
TELEGRAM_PRINTING_CHAT_ID=
TELEGRAM_PACKING_CHAT_ID=
